{% extends '@Templates/Layout/Layout.twig' %}
{% from '@Components/Breadcrumbs/Breadcrumbs.twig' import Breadcrumbs %}
{% from '@Components/PostsLoop/PostsLoop.twig' import PostsLoop %}

{% block content %}
  <div class="%CSS_PREFIX%main-wrapper">
    {{
      Breadcrumbs({
        items: [
          {
            text: 'Home',
            link: '/'
          },
          {
            text: 'Search'
          }
        ]
      })
    }}

    <h1>
      {{ title }}
    </h1>

    <div class="articles">
      {{
        PostsLoop({
          posts: posts,
          post_preview_length: post_preview_length,
          pagination_is_load_more: pagination_is_load_more,
          targeted_page: targeted_page,
          current_page: current_page
        })
      }}
    </div>
  </div>
{% endblock %}
