$footer-background: $color-secondary;
$footer-padding: 1em;
$footer-logo-max-width: 100px;
$footer-logo-max-height: 100px;
$footer-logo-padding: 0 0 1em 0;
$footer-copyright-font-size: 0.9em;
$footer-copyright-padding: 1em 0;

.%CSS_PREFIX%main-footer {
  background: $footer-background;
  padding: $footer-padding;

  &__logo {
    padding: $footer-logo-padding;

    img {
      height: auto;
      max-height: $footer-logo-max-height;
      max-width: $footer-logo-max-width;
      width: auto;
    }
  }

  .menu {
    > ul {
      padding-left: 0;
    }

    ul {
      padding-left: 1em;
    }
  }

  &__copyright {
    display: block;
    font-size: $footer-copyright-font-size;
    padding: $footer-copyright-padding;
  }
}
