$gambling-table-star-image: url("~@Assets/Images/star.svg");

.gambling-operator {
  &-payment-logo {
    height: 25px;
  }

  &__star-rating {
    background-image: $gambling-table-star-image;
    background-size: 20px;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  &__star-rating--underlay {
    filter: grayscale(1);
    opacity: 0.5;
    width: 100%;
    z-index: 0;
  }

  &__star-rating-container {
    border-bottom: 1px solid #fff;
    height: 20px;
    margin: 0 auto 5px;
    position: relative;
    width: 100px;
  }

  &__container {
    align-items: center;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 4px 0;
    padding: 10px;
    width: 100%;

    &:nth-child(9) .gambling-operator__detail--rank div {
      padding: 0 10px 0 0;
  
      @include media-breakpoint-up("iPhoneSE") {
        padding: 0 15px;
      }
    }

    @include media-breakpoint-up("vertical-tablet") {
      display: flex;
      flex-direction: row;
      height: 85px;
      justify-content: space-between;
      width: auto;
    }
  }

  &__detail--rank {
    font-size: 36px;
    font-weight: 700;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;

    @include media-breakpoint-up("vertical-tablet") {
      width: 60px;

      div {
        padding: 15px;
      }
    }

    div {
      padding: 0 15px;
    }
  }

  &__detail--logo {
    align-items: center;
    display: flex;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-content: center;
    text-align: center;

    img {
      height: auto;
      margin: 0 auto;
      width: 100px;
    }
  }

  &__detail-bonus {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    padding: 0;
    text-align: center;

    @include media-breakpoint-up("vertical-tablet") {
      padding: 0 10px;

      div {
        display: flex;
        flex-direction: column;
      }
    }

    div {
      display: inline-block;
    }

    .bonus-bold {
      font-weight: 700;
    }

    p {
      display: inline-block;
      margin: 0;
    }
  }

  &__detail-rating-payout {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    @include media-breakpoint-up("vertical-tablet") {
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      p {
        display: block;
        line-height: 1.3em;
        margin: 0;
      }
    }

    p {
      display: none;
      text-align: center;
    }
  }

  &__detail--payment {
    display: none;

    @include media-breakpoint-up("vertical-tablet") {
      display: block;
      margin: 8px 0;

      div {
        text-align: center;
        width: 110px;
      }

      .more-payment-options {
        font-size: 12px;
        margin: 5px 0 0;
        text-align: center;
      }

      .gambling-table-payment-logos {
        display: flex;
        justify-content: center;
      }

      .gambling-table-payment-logo {
        margin: 0 5px;
      }
    }
  }

  &__detail--review-play-now {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    width: 100%;

    @include media-breakpoint-up("vertical-tablet") {
      width: auto;

      div {
        flex-direction: row-reverse;
      }

      .gambling-text-center {
        margin-right: 20px;
      }

      p {
        margin: 0;
        padding: 0;
      }

      p a {
        height: 45px;
        width: 125px;
      }

      .play-now-button {
        margin-right: 10px;
      }
    }
    @include media-breakpoint-up("horizontal-tablet") {
      p .play-now-button {
        width: 175px;
      }
    }

    div {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
    }

    p {
      margin: 5px 0 10px;
      padding: 0 15px;

      a {
        align-items: center;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        text-decoration: none;
        width: 110px;
      }

      &:first-child a:hover {
        color: #fff;
        opacity: 0.8;
        text-decoration: none;
      }

      .gambling-read-review {
        font-weight: normal;
        text-decoration: underline;

        &:hover {
          color: #242b44;
        }
      }
    }

    .gambling-text-center {
      margin: 5px 0;
    }
  }
}
