{% macro Header(props) %}
  {#
      Header
      This component is the main site header. 
      It will appear at the top of every page on the site.

      @param {string} id The id
      @param {array} classes List of css classes
      @param {Timber\Menu} menu The menu
      @param {string} search_placeholder The placeholder of the search 
      @param {string} search_value The value of the search 
      @param {string} logo The url of the logo 
  #}

  {# Output #}
  {% from '@Components/MainNav/MainNav.twig' import MainNav %}
  {% from '@Components/Picture/Picture.twig' import Picture %}
  {% from '@Components/Link/Link.twig' import Link %}

  {# HTML attributes #}
  {% set attributes = {
    id: props.id ?? null,
    class: (props.classes ?? [])|merge(['%CSS_PREFIX%main-header'])
  } %}
  <header {{ attributes|arrayToAttributesHTML }}>
    <div class="%CSS_PREFIX%main-wrapper">
      {# Logo #}
      <div class="%CSS_PREFIX%logo-wrapper">
        {{
          Link({
            link: '/',
            content: Picture({
              classes: ['logo'],
              sources: [
                {
                  media: '',
                  url: props.logo
                }
              ],
              width: 100,
              height: 50,
              alt: props.logo_alt
            })
          })
        }}
      </div>

      {# Menu #}
      {% if props.menu %}
        {{
          MainNav({
            menu: props.menu,
            search_placeholder: props.search_placeholder,
            search_value: props.search_value
          })
        }}
      {% endif %}
    </div>
  </header>
{% endmacro %}
