$blockquote-font-size: 1.5rem;
$blockquote-font-size-desktop: 2rem;
$blockquote-padding: 0 1rem;
$blockquote-margin: 1rem;
$blockquote-border: 5px solid $color-secondary;

blockquote {
  border-left: $blockquote-border;
  font-size: $blockquote-font-size;
  margin: $blockquote-margin;
  padding: $blockquote-padding;

  @include media-breakpoint-up("vertical-tablet") {
    font-size: $blockquote-font-size-desktop;
  }
}
